<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="nvPBwGc7ucHV9rPkgIOcpryUOveRZ5VFBezhRizEn34" />
<!-- Search meta tags -->
    <meta name="description" content="Andres Rodiguez Gallo web developer portfolio">
    <meta name="keywords" content="andres rodrigues, andres, web, website, websites, web design, australia, colombia, freelance, responsive, mobile, mobile design, development, responsive development, web development, unique, fun, developer, typography, hand drawn, lettering, illustration, affordable, small business, south america, blog, portfolio, store, prints, font, icons, skewed icons, stacked font">
    <title>My Portfolio</title>
<!-- My favicon -->
    <link rel="icon" type="image/png" href="favicon.png"/>
<!-- Stylesheet link -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <link href="index.css" rel="stylesheet" type="text/css"> %>
<!-- family fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
</head>

  <body>
    <%= yield %>
  </body>
</html>
